  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li class="active" data-target="#myCarousel" data-slide-to="0"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active"></div>
            <img src="images/edu.jpg" class="craze" alt="page 1">
        <div class="carousel-caption">
            <h1></h1>
            <button class="btn btn-default" type="button">Get Started</button>
        </div>
        <div class="item">
            <img src="images/edu1.jpg" class="craze" alt="page2"></div>
        <div class="item">
            <img src="images/edu2.jpg" class="craze" alt="page3"></div>
        <div class="item">
            <img src="images/edu3.jpg" class="craze" alt="page3"></div>
    </div>
  </div>

  