<div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
        <li class="active" data-target="#myCarousel" data-slide-to="0"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active"></div>
        <img src="" alt="">
        <div class="carousel-caption">
            <h1></h1>
            <button class="btn btn-default"></button>
        </div>
        <div class="item">
            <img src="" alt=""></div>
        <div class="item">
            <img src="" alt=""></div>
    </div>
</div>
#myCarousel.carousel.slide(data-ride="carousel")
    ol.carousel-indicators
      li(data-target="#myCarousel", data-slide-to="0").active
      li(data-target="#myCarousel", data-slide-to="1")
      li(data-target="#myCarousel", data-slide-to="2")
    .carousel-inner(role="listbox")
      .item.active
      img(src="/images/3.jpg").craze
      .carousel-caption
        h1 get your goods delivered
        button(type="button").btn.btn-default Get Started
      .item
        img(src="/images/2.jpg")
      .item
        img(src="/images/5.jpg")