<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{{>head}}

<body class="well container-fluid">
	{{>header}}

<div class="container-fluid" id="event">
    <div class="wrap-title-event row">
        <div class=" col-md-6 col-lg-3 nit nit1">
            <div class="div">    
            <ul>
                        <li><a href="#">&#x23FA; Dashboard</a></li>
                        <li><a href="/register">&#x2795; Register a new student</a></li>
                        <li><a href="#">&#x1F389; Events</a></li>
                        <li><a href="/class">&#x1F3DB; Classes</a></li>
                </ul></div>
        </div>
        <div class="col-8 wow fadeInUp">
                <div id="title-event">
                        <h3>Classes</h3>
                        <h6>click on any of the classes to get the list of students in it</h6>
                        <h4>
                            &#x1F4AE;&#x1F4AE;&#x1F4AE;&#x1F4AE;&#x1F4AE;&#x1F4AE;&#x1F4AE;&#x1F4AE;&#x1F4AE;&#x1F4AE;
                        </h4>
                </div>
                <div id="title-event">
                    <ul class="cla">
                        <li>
                            <a href="#">Creche</a>
                            <hr>
                        </li>
                        <li>
                            <a href="#">Kindergaten 1</a>
                            <hr>
                        </li>
                        <li>
                            <a href="#">Kindergaten 2</a>
                            <hr>
                        </li>
                        <li>
                            <a href="#">Nursery 1</a>
                            <hr>
                        </li>
                        <li>
                            <a href="#">Nursery 2</a>
                            <hr>
                        </li>
                        <li>
                            <a href="#">Basic 1</a>
                            <hr>
                        </li>
                        <li>
                            <a href="#">Basic 2</a>
                            <hr>
                        </li>
                        <li>
                            <a href="#">Basic 3</a>
                            <hr>
                        </li>
                        <li>
                            <a href="#">Basic 4</a>
                            <hr>
                        </li>
                        <li>
                            <a href="#">Basic 5</a>
                            <hr>
                        </li>
                    </ul>
                </div>
        </div>


	{{>footer}}
	{{>imports}}
</body>
</html>
</body>