<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{{>head}}

<body class="well container-fluid">
    {{>header}}
    

<div class="table-responsive">
<!-- <table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Class</th>
		</tr>
	</thead>
	<tbody>
		{{#each data in data}}
		<tr>
			<th>{{#data.name}}</th>
			<th>{{#data.class}}</th>
		</tr>
	</tbody>
	{{/each}}
</table> -->
</div>
	{{>footer}}
	{{>imports}}
</body>
</html>
</body>