<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{{>head}}

<body class="well container-fluid">
	{{>header}}
  <div id="myCarousel" class="carousel slide mnv" data-ride="carousel">
    <ol class="carousel-indicators">
        <li class="active" data-target="#myCarousel" data-slide-to="0"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="images/imag.jpg" class="craze img-rounded img-responsive" alt="page 1"></div>
        <div class="carousel-caption">
            <h1>Welcome to my School management App</h1>
            <button class="btn btn-register" type="button" onclick="location.href='/register'">Get Started
            </button>
        </div>
        <div class="item">
            <img src="images/edu1.jpg" class="craze img-rounded img-responsive" alt="page2">
			<h1> We offer the best to our kids</h1>
			</div>
        <div class="item">
            <img src="images/edu2.jpg" class="craze img-rounded img-responsive" alt="page3"></div>
        <div class="item">
            <img src="images/edu3.jpg" class="craze img-rounded img-responsive" alt="page3"></div>
    </div>
  </div>
    	<section id="event">
		<div class="container">
			<div class="wrap-title-event row">
				<div id="title-event" class="col-12">
					<h6>Discover Our</h6>
					<h2>Other features</h2>
				</div>
					<div class="content-event col-sm-10 col-md-8 col-lg-4 wow fadeInUp" data-wow-delay="0.2s">
						<div class="img-event">
							<a href="#"><img alt="edu4" src="images/edu4.jpg"></a>
						</div>
						<h3><a class="hover-link-color" href="#">Giving ur child the best &#x1F3C5;</a></h3>
						<p>
							Proin lacinia nisl ut ultricies posuere nulla ut imperdiet nunc. Quisque id tellus vitae mauris feugiat comodone, donec pretium odio nec sagittis euismod.
						</p>
						<span class="time-event"><i class="fa fa-clock-o" aria-hidden="true"></i> 10:00AM - 22:00PM</span> -->
					</div>

					<div class="content-event col-sm-10 col-md-8 col-lg-4 wow fadeInUp" data-wow-delay="0.4s">
						<div class="img-event">
							<a href="#"><img alt="picture-event" src="images/edu5.jpg"></a>
						</div>
						<h3><a class="hover-link-color" href="#">Effective Learning &#x1F4DA;</a></h3>
						<p>
							Proin lacinia nisl ut ultricies posuere nulla ut imperdiet nunc. Quisque id tellus vitae mauris feugiat comodone, donec pretium odio nec sagittis euismod.
						</p>
					</div>

					<div class="content-event col-sm-10 col-md-8 col-lg-4 wow fadeInUp" data-wow-delay="0.6s">
						<div class="img-event">
							<a href="#"><img alt="picture-event" src="images/edu6.jpg"></a>
						</div>
						<h3><a class="hover-link-color" href="#">Fun Learning &#x1F973;</a></h3>
						<p>
							Proin lacinia nisl ut ultricies posuere nulla ut imperdiet nunc. Quisque id tellus vitae mauris feugiat comodone, donec pretium odio nec sagittis euismod.
						</p>
					</div>
			</div>			
		</div>
	</section>
  

  <script type="text/javascript" src="/js/jquery.js"></script>

  <script type="text/javascript" src="/js/dropzone.js"></script>

  <script type="text/javascript" src="https://cdn.turbo360-dev.com/dist/turbo.min.js"></script>

  <script type="text/javascript" src="/js/app.js"></script>
{{>footer}}
	
	<!-- Back to top -->
	
	


{{>imports}}
</body>
</html>
